<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses !</title>
</head>

<body>
    <h1>This Page Courses ! </h1>
    <ul>   <!-- 데이터의 값을 가져올때는 <%= 이지만 그냥 js 문법 사용은 <% 이고 각 줄마다 열고 닫아줘야한다-->
        <% courses.forEech(course=>{ %>
        <li><%=course.name%></li>
        <% }) %>
    </ul>
</body>

</html>